
<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">
            Formulário de usuário.
        </h1>
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating">
                        <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input formControlName="sobrenome" type="text" class="form-control" id="sobrenome" placeholder="Digite seu sobrenome">
                        <label for="sobrenome">Sobrenome</label>
                    </div>
                </div>
                <div class="col-6 my-4">
                    <div class="form-floating">
                        <input  formControlName="idade" type="text" class="form-control" id="idade" placeholder="Digite sua idade">
                        <label for="idade">Idade</label>
                    </div>
                </div>
                <div class="col-6 my-4">
                    <div class="form-floating">
                        <input formControlName="profissao" type="text" class="form-control" id="profissao" placeholder="Digite sua profissão">
                        <label for="profissao">Profissão</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-outline-success float-start" (click)="actionUser()">Enviar</button>
                        <button class="btn btn-outline-danger float-end" [routerLink]=" ">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>