<section class="wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Lista de Tarefas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="form-field">
                <mat-label>Tarefa:</mat-label>
                <input #input matInput type="text" placeholder="Digite sua Tarefa" 
                (keyup.enter)="addTodo(input.value);input.value=''">
            </mat-form-field>
            <mat-list role="list">
                <div *ngFor="let t of todos;">
                    <app-todo-item [todo]="t" (remove)="removeTodo($event)"></app-todo-item>
                </div>                
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>